<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HW 1.0</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    </head>

    <body onload="detectLocation()" ng-app="tableApp" ng-controller="datacontroller"  ng-init="setFlag=0" ng-init="setKeyword=''">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <form class="form-inline">
                    <div class="col-xs-11 col-sm-11 col-md-7 col-lg-5" >
                        <div class="form-group">
                            <label>FB Search</label>
                        </div>
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-7 col-lg-7">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="text" placeholder="type something..." name="keyword" value="" ng-model="myInput" data-content="Please type a keyword" data-placement="bottom" >
                                <div class="input-group-btn">
                                    <button id="searchButton" type="button" class="btn btn-primary" ng-click="myFunc()" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
                                    </button>
                                </div>
                                <input id="clearButton" type="button" class="form-control" value="Clear"  ng-click="clearFunc()" >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <div class="container-fluid" >
            <ul class="nav nav-pills nav-justified" role="tablist">
                <li class="active"><a ng-click="tabFunc(1)"  href="#users" data-toggle="tab">Users</a></li>
                <li ><a ng-click="tabFunc(2)" data-toggle="tab" href="#pages" >Pages</a></li>
                <li ><a ng-click="tabFunc(3)" data-toggle="tab" href="#events" >Events</a></li>
                <li ><a ng-click="tabFunc(4)" data-toggle="tab" href="#places" >Places</a></li>
                <li ><a ng-click="tabFunc(5)" data-toggle="tab" href="#groups" >Groups</a></li>
                <li ><a ng-click="tabFunc(6)" data-toggle="tab" href="#favorites" >Favorites</a></li>
            </ul>     
        </div>

        <div class="tab-content clearfix" >

            <!-- USERS TABLE SHOWME -->
            <div id="users" class="tab-pane active" >
                <div class="main-show-hide" ng-show="ShowMe1" ng-init="ShowMe1=false"  >
                    <table ng-if="progress != 1" class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <th>#</th>
                            <th>Profile Photo</th>
                            <th>Name</th>
                            <th>Favorites</th>
                            <th>Details</th>
                        </tr>

                        <tr ng-repeat="x in users.data">
                            <td>{{$index +1;}}</td>
                            <td><img class="img-circle" ng-src="{{x.picture.data.url}}" width="45" height="45"></td>

                            <td>{{x.name}}</td>

                            <td ng-show="undefined == checkStorage(x.id)"  >
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'users')">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td ng-if="x.id === checkStorage(x.id)"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'users')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="details(1,x.id, x.picture.data.url, x.name)">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="progress != 1" class = "table text-center">
                        <td offset-col-sm-5>
                            <button class="btn btn-primary" ng-if="users.paging.previous !== undefined" ng-click="paging(users.paging.previous,1)">PREVIOUS</button></td>
                        <td><button class="btn btn-primary" ng-if="users.paging.next !== undefined" ng-click="paging(users.paging.next,1)">NEXT</button></td>
                    </div>
                </div>
                <div ng-if="progress == 1" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
                <!-- Users DETAILS SHOWME -->
                <div class="main-show-hide" ng-show="ShowMe2" ng-init="ShowMe2=false" >
                    <div class="row">
                        <div class= "col-xs-1"><button class="btn btn-default" aria-label="Left Align" ng-click="back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
                        </div>

                        <div ng-show="undefined == checkStorage(UsersID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(UsersID,UsersPostPicture, UsersPostUser, 'users')">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="checkStorage(UsersID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(UsersID,UsersPostPicture, UsersPostUser, 'users')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                            </button>
                        </div>

                        <div id="fb-root"></div>
                        <div ng-controller="fbCtrl">
                            <button ng-click="share(UsersPostUser,UsersPostPicture)" style="float:right"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px" width="20px"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">ALBUMS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="UsersAlbums.albums.data != undefined " ng-repeat="x in UsersAlbums.albums.data" ng-init="hello = true" ng-click="hello= !hello">
                                        <div class="well well-sm "   >{{x.name}}</div>
                                        {{datos(x.photos.data[0].id)}}
                                        {{datos(x.photos.data[1].id)}}
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[0].id]}}" width="80%" style="margin-bottom: 10px">
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[1].id]}}" width="80%" style="margin-bottom: 10px">
                                    </div>

                                    <div ng-if = "UsersAlbums.albums.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">POSTS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="UsersAlbums.posts.data != undefined" ng-repeat="x in UsersAlbums.posts.data" style = "margin:10px; border: solid gray 1px" >
                                        <div>
                                            <div style = "margin:10px">
                                                <img class="img-thumbnail" ng-src="{{UsersPostPicture}}" width="45" height="45" style="float:left">
                                                <p style="font-weight:bold">{{UsersPostUser}}</p>
                                                <span>{{x.created_time  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                <p>{{x.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if = "UsersAlbums.posts.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>


            <!-- PAGES TABLE SHOWME -->
            <div id="pages" class="tab-pane" >
                <div  class="main-show-hide" ng-show="ShowMe1" ng-init="ShowMe1=false"  >
                    <table ng-if="progress != 1" class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <th>#</th>
                            <th>Profile Photo</th>
                            <th>Name</th>
                            <th>Favorites</th>
                            <th>Details</th>
                        </tr>

                        <tr ng-repeat="x in pages.data">
                            <td>{{$index +1;}}</td>
                            <td><img class="img-circle" ng-src="{{x.picture.data.url}}" width="45" height="45"></td>

                            <td>{{x.name}}</td>

                            <td ng-show="undefined == checkStorage(x.id)"  >
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'pages')">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td ng-if="x.id === checkStorage(x.id)"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'pages')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="details(2,x.id, x.picture.data.url, x.name)">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="progress != 1" class = "table text-center">
                        <td offset-col-sm-5>
                            <button class="btn btn-primary" ng-if="pages.paging.previous !== undefined" ng-click="paging(pages.paging.previous,2)">PREVIOUS</button></td>
                        <td><button class="btn btn-primary" ng-if="pages.paging.next !== undefined" ng-click="paging(pages.paging.next,2)">NEXT</button></td>
                    </div>
                </div>
                <div ng-if="progress == 1" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
                <!-- PAGES DETAILS SHOWME -->
                <div class="main-show-hide" ng-show="ShowMe2" ng-init="ShowMe2=false" >
                    <div class="row">
                        <div class= "col-xs-1"><button class="btn btn-default" aria-label="Left Align" ng-click="back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
                        </div>

                        <div ng-show="undefined == checkStorage(PagesID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(PagesID,PagesPostPicture, PagesPostUser, 'pages')">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="checkStorage(PagesID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(PagesID,PagesPostPicture, PagesPostUser, 'pages')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                            </button>
                        </div>

                        <div id="fb-root"></div>
                        <div ng-controller="fbCtrl">
                            <button ng-click="share(PagesPostUser,PagesPostPicture)" style="float:right"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px" width="20px"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">ALBUMS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="PagesAlbums.albums.data != undefined " ng-repeat="x in PagesAlbums.albums.data" ng-init="hello = true" ng-click="hello= !hello">
                                        <div class="well well-sm "   >{{x.name}}</div>
                                        {{datos(x.photos.data[0].id)}}
                                        {{datos(x.photos.data[1].id)}}
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[0].id]}}" width="80%" style="margin-bottom: 10px">
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[1].id]}}" width="80%" style="margin-bottom: 10px">
                                    </div>

                                    <div ng-if = "PagesAlbums.albums.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">POSTS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="PagesAlbums.posts.data != undefined" ng-repeat="x in PagesAlbums.posts.data" style = "margin:10px; border: solid gray 1px" >
                                        <div>
                                            <div style = "margin:10px">
                                                <img class="img-thumbnail" ng-src="{{PagesPostPicture}}" width="45" height="45" style="float:left">
                                                <p style="font-weight:bold">{{PagesPostUser}}</p>
                                                <span>{{x.created_time  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                <p>{{x.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if = "PagesAlbums.posts.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>



            <!-- EVENTS TABLE SHOWME -->
<div id="events" class="tab-pane" >
                <div  class="main-show-hide" ng-show="ShowMe1" ng-init="ShowMe1=false"  >
                    <table ng-if="progress != 1" class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <th>#</th>
                            <th>Profile Photo</th>
                            <th>Name</th>
                            <th>Favorites</th>
                            <th>Details</th>
                        </tr>

                        <tr ng-repeat="x in events.data">
                            <td>{{$index +1;}}</td>
                            <td><img class="img-circle" ng-src="{{x.picture.data.url}}" width="45" height="45"></td>

                            <td>{{x.name}}</td>

                            <td ng-show="undefined == checkStorage(x.id)"  >
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'events')">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td ng-if="x.id === checkStorage(x.id)"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'events')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="details(3,x.id, x.picture.data.url, x.name)">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="progress != 1" class = "table text-center">
                        <td offset-col-sm-5>
                            <button class="btn btn-primary" ng-if="events.paging.previous !== undefined" ng-click="paging(events.paging.previous,3)">PREVIOUS</button></td>
                        <td><button class="btn btn-primary" ng-if="events.paging.next !== undefined" ng-click="paging(events.paging.next,3)">NEXT</button></td>
                    </div>
                </div>
                <div ng-if="progress == 1" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
                <!-- events DETAILS SHOWME -->
                <div class="main-show-hide" ng-show="ShowMe2" ng-init="ShowMe2=false" >
                    <div class="row">
                        <div class= "col-xs-1"><button class="btn btn-default" aria-label="Left Align" ng-click="back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
                        </div>

                        <div ng-show="undefined == checkStorage(EventsID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(EventsID,EventsPostPicture, EventsPostUser, 'events')">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="checkStorage(EventsID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(EventsID,EventsPostPicture, EventsPostUser, 'events')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                            </button>
                        </div>

                        <div id="fb-root"></div>
                        <div ng-controller="fbCtrl">
                            <button ng-click="share(EventsPostUser,EventsPostPicture)" style="float:right"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px" width="20px"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">ALBUMS</div>
                                <div  style="padding:10px"  >
                                    <div ng-if="EventsAlbums.albums.data != undefined " ng-repeat="x in EventsAlbums.albums.data" ng-init="hello = true" ng-click="hello= !hello">
                                        <div class="well well-sm "   >{{x.name}}</div>
                                        {{datos(x.photos.data[0].id)}}
                                        {{datos(x.photos.data[1].id)}}
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[0].id]}}" width="80%" style="margin-bottom: 10px">
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[1].id]}}" width="80%" style="margin-bottom: 10px">
                                    </div>

                                    <div ng-if = "EventsAlbums.albums.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">POSTS</div>
                                <div  style="padding:10px"  >
                                    <div ng-if="EventsAlbums.posts.data != undefined" ng-repeat="x in EventsAlbums.posts.data" style = "margin:10px; border: solid gray 1px" >
                                        <div>
                                            <div style = "margin:10px">
                                                <img class="img-thumbnail" ng-src="{{EventsPostPicture}}" width="45" height="45" style="float:left">
                                                <p style="font-weight:bold">{{EventsPostUser}}</p>
                                                <span>{{x.created_time  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                <p>{{x.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if = "EventsAlbums.posts.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
         
            <!-- PLACES TABLE SHOWME--> 
            <div id="places" class="tab-pane" >
                <div  class="main-show-hide" ng-show="ShowMe1" ng-init="ShowMe1=false"  >
                    <table ng-if="progress != 1" class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <th>#</th>
                            <th>Profile Photo</th>
                            <th>Name</th>
                            <th>Favorites</th>
                            <th>Details</th>
                        </tr>

                        <tr ng-repeat="x in places.data">
                            <td>{{$index +1;}}</td>
                            <td><img class="img-circle" ng-src="{{x.picture.data.url}}" width="45" height="45"></td>

                            <td>{{x.name}}</td>

                            <td ng-show="undefined == checkStorage(x.id)"  >
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'places')">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td ng-if="x.id === checkStorage(x.id)"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'places')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="details(4,x.id, x.picture.data.url, x.name)">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="progress != 1" class = "table text-center">
                        <td offset-col-sm-5>
                            <button class="btn btn-primary" ng-if="places.paging.previous !== undefined" ng-click="paging(places.paging.previous,4)">PREVIOUS</button></td>
                        <td><button class="btn btn-primary" ng-if="places.paging.next !== undefined" ng-click="paging(places.paging.next,4)">NEXT</button></td>
                    </div>
                </div>
                <div ng-if="progress == 1" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
                <!-- Places DETAILS SHOWME -->
                <div class="main-show-hide" ng-show="ShowMe2" ng-init="ShowMe2=false" >
                    <div class="row">
                        <div class= "col-xs-1"><button class="btn btn-default" aria-label="Left Align" ng-click="back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
                        </div>

                        <div ng-show="undefined == checkStorage(PlacesID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(PlacesID,PlacesPostPicture, PlacesPostUser, 'places')">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="checkStorage(PlacesID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(PlacesID,PlacesPostPicture, PlacesPostUser, 'places')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                            </button>
                        </div>

                        <div id="fb-root"></div>
                        <div ng-controller="fbCtrl">
                            <button ng-click="share(PlacesPostUser,PlacesPostPicture)" style="float:right"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px" width="20px"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">ALBUMS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="PlacesAlbums.albums.data != undefined " ng-repeat="x in PlacesAlbums.albums.data" ng-init="hello = true" ng-click="hello= !hello">
                                        <div class="well well-sm "   >{{x.name}}</div>
                                        {{datos(x.photos.data[0].id)}}
                                        {{datos(x.photos.data[1].id)}}
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[0].id]}}" width="80%" style="margin-bottom: 10px">
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[1].id]}}" width="80%" style="margin-bottom: 10px">
                                    </div>

                                    <div ng-if = "PlacesAlbums.albums.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">POSTS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="PlacesAlbums.posts.data != undefined" ng-repeat="x in PlacesAlbums.posts.data" style = "margin:10px; border: solid gray 1px" >
                                        <div>
                                            <div style = "margin:10px">
                                                <img class="img-thumbnail" ng-src="{{PlacesPostPicture}}" width="45" height="45" style="float:left">
                                                <p style="font-weight:bold">{{PlacesPostUser}}</p>
                                                <span>{{x.created_time  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                <p>{{x.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if = "PlacesAlbums.posts.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- GROUPS TABLE SHOWME -->
            <div id="groups" class="tab-pane" >
                <div  class="main-show-hide" ng-show="ShowMe1" ng-init="ShowMe1=false"  >
                    <table  ng-if="progress != 1" class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <th>#</th>
                            <th>Profile Photo</th>
                            <th>Name</th>
                            <th>Favorites</th>
                            <th>Details</th>
                        </tr>

                        <tr ng-repeat="x in groups.data">
                            <td>{{$index +1;}}</td>
                            <td><img class="img-circle" ng-src="{{x.picture.data.url}}" width="45" height="45"></td>

                            <td>{{x.name}}</td>

                            <td ng-show="undefined == checkStorage(x.id)"  >
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'groups')">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td ng-if="x.id === checkStorage(x.id)"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="favorites(x.id, x.picture.data.url, x.name, 'groups')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                                </button>
                            </td>

                            <td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="details(5,x.id, x.picture.data.url, x.name, 'groups')">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="progress != 1" class = "table text-center">
                        <td offset-col-sm-5>
                            <button class="btn btn-primary" ng-if="groups.paging.previous !== undefined" ng-click="paging(groups.paging.previous,5)">PREVIOUS</button></td>
                        <td><button class="btn btn-primary" ng-if="groups.paging.next !== undefined" ng-click="paging(groups.paging.next,5)">NEXT</button></td>
                    </div>
                </div>
                <div ng-if="progress == 1" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
                <!-- Groups DETAILS SHOWME -->
                <div class="main-show-hide" ng-show="ShowMe2" ng-init="ShowMe2=false" >
                    <div class="row">
                        <div class= "col-xs-1"><button class="btn btn-default" aria-label="Left Align" ng-click="back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
                        </div>

                        <div ng-show="undefined == checkStorage(GroupsID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(GroupsID,GroupsPostPicture, GroupsPostUser, 'groups')">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="checkStorage(GroupsID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(GroupsID,GroupsPostPicture, GroupsPostUser, 'groups')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                            </button>
                        </div>

                        <div id="fb-root"></div>
                        <div ng-controller="fbCtrl">
                            <button ng-click="share(GroupsPostUser,GroupsPostPicture)" style="float:right"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px" width="20px"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">ALBUMS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="GroupsAlbums.albums.data != undefined " ng-repeat="x in GroupsAlbums.albums.data" ng-init="hello = true" ng-click="hello= !hello">
                                        <div class="well well-sm "   >{{x.name}}</div>
                                        {{datos(x.photos.data[0].id)}}
                                        {{datos(x.photos.data[1].id)}}
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[0].id]}}" width="80%" style="margin-bottom: 10px">
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[1].id]}}" width="80%" style="margin-bottom: 10px">
                                    </div>

                                    <div ng-if = "GroupsAlbums.albums.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">POSTS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="GroupsAlbums.posts.data != undefined" ng-repeat="x in GroupsAlbums.posts.data" style = "margin:10px; border: solid gray 1px" >
                                        <div>
                                            <div style = "margin:10px">
                                                <img class="img-thumbnail" ng-src="{{GroupsPostPicture}}" width="45" height="45" style="float:left">
                                                <p style="font-weight:bold">{{GroupsPostUser}}</p>
                                                <span>{{x.created_time  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                <p>{{x.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if = "GroupsAlbums.posts.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- FAVORITES TABLE SHOWME -->            
            <div id="favorites" class="tab-pane" >
                <div class="main-show-hide" ng-show="ShowMe1" ng-init="ShowMe1=false"  >
                    <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <th>#</th>
                            <th>Profile Photo</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Favorite</th>
                            <th>Details</th>
                        </tr>
                        <tr ng-repeat="y in favs">
                            <td>{{$index + 1;}}</td>
                            <td><img class="img-circle" ng-src="{{y.imgFav}}" width="45" height="45"></td>

                            <td>{{y.nameFav}}</td>
                            <td>{{y.type}}</td>
                            <td>
                                <button class="btn btn-default" aria-label="Left Align" ng-click="trash($index, y.idFav)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                </button>
                            </td>
                            <td><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="details(1,y.idFav, y.imgFav, y.nameFav)">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="main-show-hide" ng-show="ShowMe2" ng-init="ShowMe2=false" >
                    <div class="row">
                        <div class= "col-xs-1"><button class="btn btn-default" aria-label="Left Align" ng-click="back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
                        </div>

                        <div ng-show="undefined == checkStorage(UsersID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(UsersID,UsersPostPicture, UsersPostUser, 'users')">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="checkStorage(UsersID)" class= "col-xs-1" style="float:right" >
                            <button class="btn btn-default" aria-label="Left Align" ng-click="favorites(UsersID,UsersPostPicture, UsersPostUser, 'users')">
                                <span class="glyphicon glyphicon-star" style="color:yellow" aria-hidden="true" ></span>
                            </button>
                        </div>

                        <div id="fb-root"></div>
                        <div ng-controller="fbCtrl">
                            <button ng-click="share(UsersPostUser,UsersPostPicture)" style="float:right"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px" width="20px"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">ALBUMS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="UsersAlbums.albums.data != undefined " ng-repeat="x in UsersAlbums.albums.data" ng-init="hello = true" ng-click="hello= !hello">
                                        <div class="well well-sm "   >{{x.name}}</div>
                                        {{datos(x.photos.data[0].id)}}
                                        {{datos(x.photos.data[1].id)}}
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[0].id]}}" width="80%" style="margin-bottom: 10px">
                                        <img class="Album-show-hide" ng-show="hello" ng-src="{{myPicture[x.photos.data[1].id]}}" width="80%" style="margin-bottom: 10px">
                                    </div>

                                    <div ng-if = "UsersAlbums.albums.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="margin:10px; border: solid gray 1px">
                                <div class="well">POSTS</div>
                                <div ng-if="progress != 1" style="padding:10px"  >
                                    <div ng-if="UsersAlbums.posts.data != undefined" ng-repeat="x in UsersAlbums.posts.data" style = "margin:10px; border: solid gray 1px" >
                                        <div>
                                            <div style = "margin:10px">
                                                <img class="img-thumbnail" ng-src="{{UsersPostPicture}}" width="45" height="45" style="float:left">
                                                <p style="font-weight:bold">{{UsersPostUser}}</p>
                                                <span>{{x.created_time  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                                <p>{{x.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if = "UsersAlbums.posts.data == undefined" style="background-color: #daf5d1;">No data found.</div>
                                </div>
                                <div ng-if="progress == 1" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <script src="scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });  
        </script>

        <script>
            function detectLocation()
            {
                if (navigator.geolocation)
                {
                    navigator.geolocation.getCurrentPosition(geocodePosition, onError);
                }
                else
                {
                    alert("navigator.geolocation not supported");
                }
            }
            function geocodePosition(position){
                $latitude = position.coords.latitude;
                $longitude = position.coords.longitude;
            } 

            function onError(error){
                alert("error " + error.code);
            }
        </script>
        <script>
            window.fbAsyncInit = function() {
                FB.init({appId: '666062260243113', status: true, cookie: true,
                         xfbml: true});
            };
            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
        </script>
    </body>
</html>