.container-fluid{
	margin:0;
	padding:0;
}

.navbar-default{
	margin:0px;
}

.nav-pills{
	border-bottom: 2px solid #236B8E;
}

.nav-pills li a{
	border-radius: 0px;
}


li a{
	color:black;
}

.table-responsive{
	border: none;
}

.control-label{
	font-size: 1.3em;
	color: #236B8E;
}

label{
	margin-left: 40px;
	margin-bottom: 0px;
	font-size: 1.5em;
	color:#236B8E;
}


.main-show-hide.ng-hide {
  transform: translate(100%);
}

.main-show-hide.ng-show {
    transform: translate(0);
}

.main-show-hide.ng-hide-add, .main-show-hide.ng-hide-remove {
  transition: all linear.2s;
}

.Album-show-hide.ng-hide {
  transform: translateY(100%);
}

.Album-show-hide.ng-show {
    transform: translateY(0%);
}

.Album-show-hide.ng-hide-add, .Album-show-hide.ng-hide-remove {
  transition: all linear .5s;
}